__pycache__/
*.py[cod]
.venv/
venv/
.env
.DS_Store
.ipynb_checkpoints/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep
reports/*
!reports/.gitkeep
*.keras
*.joblib
*.pkl
*.csv
